body{
    width: 1280px;
    background-color: #F1F1F3;
}
/* banner design */
.banner{
    background-color: #C6E4D6;
    display: flex;
    width: 1280px;
    height: 574px;
    margin: 80px 160px 80px 180px;
    border-radius: 24px;
    gap: 5px;
}
.banner-content{
    width: 622px;
    margin-top: 100px;
    margin-left: 30px;
}
.banner-title{
    color: #B3B3B3;
    font-size: 24px;
   
}
.banner-subtitle{
    font-weight: bold;
    font-size: 56px;margin-top:10px;
    margin-bottom: 16px;
    margin-top: 10px;
}
.banner-image{
    margin-top: 100px;
    margin-left: 30px;
}
.btn-primary{
    background-color: #3C916A;
    color: white;
    padding: 17px 34px 17px 34px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    
}
.btn-primary a{
    text-decoration: none;
    color: white;
}

/* vision design */
.vision{
    margin: 80px 160px 80px 180px;
    width: 100%;
}

.vision-description{
    display: flex;
    gap: 5%;
}
.vision-title{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.vision-subtitle{
    font-weight: 400;
    font-size: 16px;
    color: #0E0E0E;
    opacity: 70%;
    margin-bottom: 32px;
}
.vision-description-1{
    background-color:#d6deec;
    border-radius: 16px;
    padding: 32px 32px;  
}
.vision-description-title{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 80%;
    margin-bottom: 12px;
  
}
.vision-description-subtitle{
    color: #0E0E0E;
    opacity: 70%;
    margin-top: 0px;
}
.btn-secondary-1{
    background-color: #5490F5;
    padding: 12px 11px;
    border: none;
    border-radius: 8px;
    width: 122px;
    color: white;
}
.btn-secondary-1 a{
    text-decoration: none;
    color: white;
}
.vision-description-2{
    background-color: #C6E4D6;
    border-radius: 16px;
    padding: 32px 32px;
}
.btn-secondary-2{
    background-color: #09A15C;
    padding: 12px 11px;
    border: none;
    border-radius: 8px;
    width: 122px;
    color: white;
}
.btn-secondary-2 a{
    text-decoration: none;
    color: white;
}
.vision-description-3{
    background-color: #FFF7DF;
    border-radius: 16px;
    padding: 32px 32px;
}
.btn-secondary-3{
    background-color: #FFC239;
    padding: 12px 11px;
    border: none;
    border-radius: 8px;
    width: 122px;
    color: white;
}
.btn-secondary-3 a{
    text-decoration: none;
    color: white;
}

/* challenging part */

.speech{
   background-image: url('../assets/quote-bg.png');
   background-repeat: no-repeat;
   margin-left: 180px;
   margin-right: 180px;
   background-color: white;
   width: 94%;
   padding-left: 10px;
   padding-right: 70px;
   padding-top: 20px;
   padding-bottom: 20px;
   border-radius: 16px;
   
    
}
.speech-description{
    width: 1280px;
    color: #0E0E0E;
    opacity: 70%;
}
.author-name{
    
    width: 1280px;
    margin-bottom: 0%;
    margin-top: 20px;
}
.author-title{
   
    width: 1280px;
    color: #0E0E0E;
    opacity: 70%;
    margin-top: 10px;
}



/* Satelite design */


.satelite{
    padding-left: 180px;
    width: 1280px;
}
.satelite-title{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.satelite-subtitle{
    color: #0E0E0E;
    opacity: 70%;
}
.satelite-description-a{
    display: flex;
     
    background-color: white;
    margin-bottom: 25px;
    padding: 100px 60px;
}
.satelite-description-b{
    display: flex;
   
    background-color: white;
    padding: 100px 60px;
}
.satelite-description-1{
    margin-left: 16px;
}
.satelite-image{
   border-radius: 24px;
   margin-right: 32px;
   
   
}

.satelite-date{
    display: flex;
    gap: 2%;
    color: #0E0E0E;
    opacity: 70%;
    
}
.satelite-subtitle{
    padding-bottom: 20px;
}
.al-jazeera{
   margin-top: 0%;
}
.satelite-description-title{
    font-weight: bold;
    font-size: 32px;
}
.satelite-description-subtitle{
    color: #0E0E0E;
    opacity: 70%;
}
.satelite-btn{
    background-color: #09A15C;
    padding: 12px 11px;
    border: none;
    border-radius: 8px;
    width: 122px;
    color: white;
}
.satelite-btn a{
    text-decoration: none;
    color: white;
}

/* donation design */

.blood-donation{
    text-align: center;
    padding-left: 180px;
    padding-right: 0px;
    width: 100%;
}
.donation-title{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
    margin-bottom: 24px;
   
}
.donation-subtitle{
    color: #0E0E0E;
    opacity: 70%;
}
.button{
    background-color: white;
    padding: 40px 20px;
    border: none;
    border-radius: 8px;
    width: 200px;
    
    margin-bottom: 24px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;

}
.button a{
    text-decoration: none;
    color: #0E0E0E;
}
.btn-2{
    background-color: #C6E4D6;
    text-decoration: none;
}
.text-area{
    width: 1032px;
    text-align: center;
    padding: 20px 20px;
    color: #0E0E0E;
    opacity: 70%;
    font-size: 20px;
    margin-bottom: 30px;
    border: none;
    
}
